<h1>Taskboard</h1>
<div class="index-wrapper">
    <div class="chat-wrapper">
        <div class="user-wrapper">
            <div class="userList-wrapper">
                <button id="btn-chat-all" data-id="0" data-fullname="All" data-new="0"
                    onclick="userPressed(this); return false;">All</button>
                <% for(let index = 0; index < users.length; ++index) { %>
                <%
                    //exclude the current user
                    if(self.req.user.id === users[index].id){
                        continue;
                    } %>
                    <button id="btn-chat-<%=users[index].id%>" data-id="<%=users[index].id%>"
                        data-fullname="<%=users[index].fullname()%>" data-new="0"
                        onclick="userPressed(this); return false;"><%=users[index].fullname()%>
                    </button>
                <% } //endfor %>
            </div>
        </div>
        <div class="chat">
            <div class="messages-wrapper">
                <div class="messages" id="messages" data-action="<%-self.urlFor('api/messages', 'index')%>">
                </div>
            </div>
            <div class="input-wrapper">
                <textarea id="message"></textarea>
                <button id="send-message" onclick="sendPressed(this); return false;">Send</button>
            </div>
        </div>
    </div>
</div>