<div class="wrapper">
    <div class="left-side">
        <div class="scroll-wrapper">
            <ul class="menu-list">
                <li><img src="../../assets/images/user.svg" alt="PR" data-name="Personal info"
                        onclick="chatOpen(this);"></li>
                <%if(canUpdateUser || canDeleteUser){%>
                <li class="UserManagement" onclick="redirectUserManagement();"><img src="../../assets/images/gear.svg"
                        alt="User-Management"></li>
                <% } //ENDIF %>
                <li id="btn-chat-all" data-id="0" data-new="0" onclick="userPressed(this); return false;"><img
                        src="../../assets/images/team.svg" alt="ALl"></li>
                <% for(let index = 0; index < users.length; ++index) { %>
                <span class="user" data-id="<%=users[index].id%>" data-fullname="<%=users[index].fullname()%>"></span>
                <%
                    //exclude the current user
                    if(self.req.user.id === users[index].id){
                        continue;
                    } %>
                <li id="btn-chat-<%=users[index].id%>" data-id="<%=users[index].id%>"
                    data-shortname="<%=users[index].shortName()%>" data-fullname="<%=users[index].fullname()%>"
                    data-new="0" onclick="userPressed(this); return false;">
                    <%=users[index].shortName()%>
                </li>
                <% } //endfor %>
                <li class="documentation" onclick="redirectDocumentation();"><img src="../../assets/images/document.svg"
                        alt="Documentation"></li>
                <li class="privacyPolicy" onclick="redirectPolicy();"><img src="../../assets/images/policy.svg"
                        alt="policy"></li>
                <li class="imprint" onclick="redirectImprint();"><img src="../../assets/images/about.svg "
                        alt="policy "></li>
                <li class="logout" onclick="logout();"><img src="../../assets/images/logout.svg " alt="policy "></li>
            </ul>
        </div>
    </div>
    <div class="chat-wrapper">
        <div class="topbar">
            <div class="title" id="chatTitle">
                Chat
            </div>
            <div class="close" onclick="chatClose();">
                X
            </div>
        </div>
        <div class="userInfo" style="display: none;">
            <div class="infoLabel">Name</div>
            <div class="InfoValue">
                <%-self.req.user.fullname()%>
            </div>
            <div class="infoLabel">E-Mail</div>
            <div class="InfoValue">
                <%-self.req.user.email%>
            </div>
            <div class="infoLabel">Created Date</div>
            <div id="date" class="InfoValue">
                <%-self.req.user.createdAt%>
            </div>
        </div>
        <div class="chat">
            <div class="messages-wrapper">
                <div class="scroll-wrapper" id="messages" data-action="<%-self.urlFor('api/messages', 'index')%>"></div>
            </div>
            <div class="input-wrapper">
                <textarea id="message" placeholder="Enter a message!"></textarea>
                <button id="send-message" class="" onclick="sendPressed(this); return false;"><svg
                        xmlns="http://www.w3.org/2000/svg" style="margin-top: 8px;" width="64" height="64"
                        viewBox="0 0 512 512" fill="none">
                        <g id="paper-plane 1">
                            <g id="Group">
                                <circle id="circle" cx="256" cy="256" r="256" fill="url(#paint0_linear)" />
                                <g id="plane">
                                    <g id="Vector">
                                        <path
                                            d="M462.409 75.155L242.847 390.775L139.609 372.39L457.101 53.485L460.81 57.194C465.62 62.005 466.294 69.57 462.409 75.155Z"
                                            fill="#1380E2" />
                                        <path
                                            d="M139.609 372.39L121.225 269.152L436.767 49.645C442.397 45.729 450.023 46.408 454.873 51.257L458.515 54.899L139.609 372.39ZM242.847 390.775L263.045 370.577L213.856 333.5L242.847 390.775Z"
                                            fill="#1380E2" />
                                    </g>
                                    <path id="Vector_2"
                                        d="M454.998 51.383L184.176 303.82L68.873 188.517C63.654 183.298 65.694 174.417 72.667 171.998L434.216 46.609C441.486 44.088 449.557 45.942 454.998 51.383V51.383ZM460.617 57.002L213.837 333.48L323.483 443.126C328.702 448.345 337.583 446.305 340.002 439.332L465.391 77.784C467.912 70.514 466.058 62.443 460.617 57.002V57.002Z"
                                        fill="#A7D0FC" />
                                </g>
                                <path id="wind"
                                    d="M199.979 352.149L130.682 421.445C129.706 422.422 128.426 422.91 127.147 422.91C125.868 422.91 124.587 422.422 123.612 421.445C121.659 419.493 121.659 416.327 123.612 414.375L192.909 345.079C194.86 343.126 198.028 343.126 199.979 345.079C201.932 347.031 201.932 350.197 199.979 352.149ZM206.519 375.661C204.568 373.708 201.4 373.708 199.449 375.661L164.095 411.016C162.142 412.968 162.142 416.134 164.095 418.086C165.071 419.063 166.351 419.551 167.63 419.551C168.909 419.551 170.19 419.063 171.165 418.086L206.519 382.731C208.472 380.779 208.472 377.613 206.519 375.661ZM149.95 425.158L135.808 439.301C133.856 441.253 133.856 444.419 135.809 446.372C136.786 447.348 138.065 447.836 139.344 447.836C140.623 447.836 141.904 447.348 142.88 446.371L157.022 432.228C158.974 430.276 158.974 427.11 157.021 425.157C155.068 423.206 151.903 423.205 149.95 425.158ZM194.765 414.816L180.622 428.958C178.669 430.911 178.669 434.077 180.621 436.029C181.598 437.006 182.878 437.494 184.157 437.494C185.436 437.494 186.717 437.006 187.692 436.03L201.835 421.888C203.788 419.935 203.788 416.769 201.836 414.817C199.883 412.864 196.716 412.865 194.765 414.816Z"
                                    fill="white" />
                            </g>
                        </g>

                        <defs>
                            <linearGradient id="paint0_linear" x1="101" y1="462" x2="437" y2="79"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FF007A" />
                                <stop offset="1" stop-color="#00D1FF" />
                            </linearGradient>
                        </defs>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="kanban-wrapper">
            <div class="row">
                <%for (let index = 0; index < workflows.length; index++) { %>
                <% const workflow = workflows[index]; %>
                <div class="col">
                    <div class="title" style="background: <%-workflow.color%>;">
                        <span class="workflow"><%=workflow.name%></span> <span id="addIcon" class="add"
                            workflow-id="<%-workflow.id%>" project-id="<%-workflow.projectId%>">+</span>
                    </div>
                </div>
                <%} //ENDFOR %>
                <div class="col AddWorkflow">
                    <div class="title" style="background: rgba(75, 42, 165, 0.561);">
                        <span class="workflow icon">Add Workflow</span> <span class="addWorkflow"
                            onclick="showWorkflowBlock()">+</span>

                    </div>
                </div>

            </div>
                <% for (let index = 0; index < workflows.length; index++) { %>
                    <% const workflow = workflows[index]; %>    
                    <%} //ENDFOR %>
            <div class="row tasks-wrapper">
                <% for (let index = 0; index < workflows.length; index++) { %>
                <% const workflow = workflows[index]; %>
                <div class="col">
                    <div class="tasks" data-workflow-id="<%-workflow.id%>" data-workflow-color="<%-workflow.color%>">
                        <% if(workflowTasks[workflow.id] instanceof Array) { %>
                        <% for (let i = 0; i < workflowTasks[workflow.id].length; i++) { %>
                        <% const task = workflowTasks[workflow.id][i]; %>
                        <div class="task" style="border-color: <%-workflow.color%>;" data-id="<%-task.id%>">
                            <div class="name" id="taskName" data-id="<%-task.id%>">
                                #
                                <%-task.id%>
                                <%=task.name%>
                            </div>
                            <div class=" time ">
                                <!--This will only be shown in the task editor-->
                            </div>
                            <div class="footer ">Ì
                                <div class="assigned ">
                                    <%=task.assignedTo.fullname()%>
                                </div>
                                <div class="deadline ">
                                    <%-task.deadline.getDay()%>.
                                    <%-task.deadline.getMonth() + 1%>.
                                    <%-task.deadline.getFullYear()%>
                                    <%-task.deadline.getHours()%>:
                                    <%-task.deadline.getMinutes()%>
                                </div>
                            </div>
                        </div>
                        <% } //ENDFOR %>
                        <% } //ENDIF %>
                    </div>
                </div>
                <%} //ENDFOR %>
            </div>
        </div>
    </div>
</div>
<div class="taskForm" user-id="<%-self.req.user.id%>" user-name="<%-self.req.user.fullname()%>" id="slide-in-popover">
    <div class="createTask ">Edit Task</div>

    <div class="task-editing">
        <div class="taskClose" id="taskCloseId" onclick="taskClose();">
            X
        </div>
        <div class="inputColumn nameTask"></div>
        <div class="inputColumn Created-by"></div>
        <div class="inputColumn assigned-to"></div>
        <div class="inputColumn maxTime"></div>
        <div class="inputColumn deadline"></div>
        <div class="inputColumn textTask"></div>
        <button class="addTaskButton">Edit Task</button>
        <button class="addTask">Add Task</button>
    </div>
</div>
<div class="workflowAdditionWrapper" style="display:none;" workflow-count="<%-workflows.length%>"
    project-id="<%-projectId%>">
    <div class="workflowAddition">
        <div class="hideWorkflowBlock" onclick="hideWorkflowBlock(); ">
            X
        </div>
        <input type="text " class="inputColumn workflowName " placeholder="Enter the Name of Workflow ">
        <button class="addWorkflowButton " onclick="addWorkflow(); ">Add Workflow</button>
    </div>
</div>