<div class="wrapper">
    <div class="left-side">
        <div class="scroll-wrapper">
            <ul class="menu-list">
                <li><img src="../../assets/images/user.svg" alt="PR"></li>
                <li><img src="../../assets/images/gear.svg" alt=""></li>
                <li id="btn-chat-all" data-id="0" data-new="0" onclick="userPressed(this); return false;"><img src="../../assets/images/team.svg" alt="ALl"></li>
                <% for(let index = 0; index < users.length; ++index) { %>
                    <%
                    //exclude the current user
                    if(self.req.user.id === users[index].id){
                        continue;
                    } %>
                        <li id="btn-chat-<%=users[index].id%>" data-id="<%=users[index].id%>" data-shortname="<%=users[index].shortName()%>" data-fullname="<%=users[index].fullname()%>" data-new="0" onclick="userPressed(this); return false;">
                            <%=users[index].shortName()%>
                        </li>
                        <% } //endfor %>
            </ul>
        </div>
    </div>
    <div class="chat-wrapper">
        <div class="topbar">
            <div class="title" id="chatTitle">
                Chat
            </div>
            <div class="close" onclick="chatClose();">
                X
            </div>
        </div>
        <div class="chat">
            <div class="messages-wrapper">
                <div class="scroll-wrapper" id="messages" data-action="<%-self.urlFor('api/messages', 'index')%>"></div>
            </div>
            <div class="input-wrapper">
                <textarea id="message" placeholder="Schreiben Sie irgendwas...."></textarea>
                <button id="send-message" onclick="sendPressed(this); return false;"><img
                        src="../../assets/images/paper-plane.svg"></button>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="kanban-wrapper">
            <div class="row">
                <%for (let index = 0; index < workflows.length; index++) { %>
                    <% const workflow = workflows[index]; %>
                        <div class="col">
                            <div class="title" style="background: <%-workflow.color%>;border-left-color: <%-workflow.color%>;">
                                <span class="workflow"><%=workflow.name%></span> <span id="addIcon" onclick="addTask(this,'<%-workflow.id%>'); return false;" class="add">+</span>
                            </div>
                        </div>
                        <%} //ENDFOR %>
            </div>

            <!-- <div class="row">
                <% for (let index = 0; index < workflows.length; index++) { %>
                    <% const workflow = workflows[index]; %>    
                    <%} //ENDFOR %>
            </div>-->

            <div class="row tasks-wrapper">
                <% for (let index = 0; index < workflows.length; index++) { %>
                    <% const workflow = workflows[index]; %>
                        <div class="col">
                            <div class="tasks" data-workflow-id="<%-workflow.id%>" data-workflow-color="<%-workflow.color%>">
                                <% if(workflowTasks[workflow.id] instanceof Array) { %>
                                    <% for (let i = 0; i < workflowTasks[workflow.id].length; i++) { %>
                                        <% const task = workflowTasks[workflow.id][i]; %>
                                            <div class="task" style="border-color: <%-workflow.color%>;" data-id="<%-task.id%>">

                                                <div class="name" id="taskName" data-id="<%-task.id%>" onclick="editTask(this);">
                                                    #
                                                    <%-task.id%>
                                                        <%=task.name%>
                                                </div>
                                                <div class=" time ">
                                                    <!--This will only be shown in the task editor-->
                                                </div>

                                                <div class="footer ">Ì
                                                    <div class="assigned ">
                                                        <%=task.assignedTo.fullname()%>
                                                    </div>
                                                    <div class="deadline ">
                                                        <%-task.deadline.getDay()%>.
                                                            <%-task.deadline.getMonth() + 1%>.
                                                                <%-task.deadline.getFullYear()%>
                                                                    <%-task.deadline.getHours()%>:
                                                                        <%-task.deadline.getMinutes()%>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } //ENDFOR %>
                                                <% } //ENDIF %>
                            </div>
                        </div>
                        <%} //ENDFOR %>
            </div>
        </div>
    </div>
</div>


<div class="taskForm">

    <div class="createTask ">Create Task</div>

    <form id="form" action="<%-self.urlFor( 'api/tasks', 'create', null, 'POST')%>" method="POST" data="
                                                    <%=self.req.user.id%>">
        <div class="inputColumn"><input type="text" id="nameTask" name="name" placeholder="Name"></div>

        <div class="inputColumn">
            <select class="select" id="assignedToId" name="assignedToId" required>
                <option value="" select:invalid>Assigned To</option>

                <% for(let index = 0; index < users.length; ++index) { %>
                <option value="<%=users[index].id%>"><%=users[index].fullname()%></option>
                <% } //endfor %>
            </select>
        </div>

        <input type="hidden" id="currentUserId" value="<%-self.req.user.id%>">

        <div class="inputColumn"><input type="number" id="maxTime" placeholder="Maximum Work Time"></div>

        <div class="inputColumn"><input placeholder="Deadline" type="text" onfocus="(this.type='date')" id="deadline">
        </div>


        <input type="hidden" id="projectId" value="<%-workflows[1].projectId%>">

        <div class="inputColumn">
            <textarea id="textTask" name="text" cols="30" rows="10" placeholder="What To do">
            </textarea>
        </div>
        <button class="addTaskButton" onclick="addPressed(this,this.parentNode); return false;">Add Task</button>
    </form>
    <div class="taskClose" id="taskCloseId" onclick="taskClose();">
        X
    </div>
</div>