<div class="wrapper">
    <div class="left-side">
        <div class="scroll-wrapper">
            <ul class="menu-list">
                <li>PR</li>
                <li>SET</li>
                <li id="btn-chat-all" data-id="0" data-fullname="ALL" data-new="0"
                    onclick="userPressed(this); return false;">ALL</li>
                <% for(let index = 0; index < users.length; ++index) { %>
                <%
                    //exclude the current user
                    if(self.req.user.id === users[index].id){
                        continue;
                    } %>
                <li id="btn-chat-<%=users[index].id%>" data-id="<%=users[index].id%>"
                    data-fullname="<%=users[index].shortName()%>" data-new="0"
                    onclick="userPressed(this); return false;"><%=users[index].shortName()%>
                </li>
                <% } //endfor %>
            </ul>
        </div>
    </div>
    <div class="chat-wrapper">
        <div class="topbar">
            <div class="title">
                Chat
            </div>
            <div class="close">
                X
            </div>
        </div>
        <div class="chat">
            <div class="messages-wrapper">
                <div class="scroll-wrapper" id="messages" data-action="<%-self.urlFor('api/messages', 'index')%>"></div>
            </div>
            <div class="input-wrapper">
                <textarea id="message"></textarea>
                <button id="send-message" onclick="sendPressed(this); return false;">Send</button>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="kanban-wrapper">
            <div class="row">
                <div class="col">
                    <div class="title">
                        Backlog
                    </div>
                </div>
                <div class="col">
                    <div class="title">
                        Progress
                    </div>
                </div>
                <div class="col">
                    <div class="title">
                        Review
                    </div>
                </div>
                <div class="col">
                    <div class="title">
                        Done
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="add">
                        +
                    </div>
                </div>
                <div class="col">
                    <div class="add">
                        +
                    </div>
                </div>
                <div class="col">
                    <div class="add">
                        +
                    </div>
                </div>
                <div class="col">
                    <div class="add">
                        +
                    </div>
                </div>
            </div>

            <div class="row tasks-wrapper">
                <div class="col">
                    <div class="tasks">
                        <div class="task">
                            <div class="line"></div>
                            <div class="name">
                                [ZB] TEST Name Test Name Test Name
                            </div>
                            <div class="time">
                                134:00 / 240:00 <button>play/pause</button>
                            </div>
                            <div class="footer">
                                <div class="assigned">
                                    Sabine Meyer
                                </div>
                                <div class="deadline">
                                    12.12.1212
                                </div>
                            </div>
                        </div>
                        <div class="task">Task</div>
                        <div class="task">Task</div>
                        <div class="task">Task</div>
                    </div>
                </div>
                <div class="col">
                    <div class="tasks">
                        <div class="task"></div>
                        <div class="task"></div>
                        <div class="task"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="tasks">
                        <div class="task"></div>
                        <div class="task"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="tasks">
                        <div class="task"></div>
                        <div class="task"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>