<div class="wrapper">
    <div class="left-side">
        <div class="scroll-wrapper">
            <ul class="menu-list">
                <li><img src="../../assets/images/user.svg" alt="PR"></li>
                <li><img src="../../assets/images/gear.svg" alt=""></li>
                <li id="btn-chat-all" data-id="0" data-new="0" onclick="userPressed(this); return false;"><img src="../../assets/images/team.svg" alt="ALl"></li>
                <% for(let index = 0; index < users.length; ++index) { %>
                    <span class="user" data-id="<%=users[index].id%>" data-fullname="<%=users[index].fullname()%>"></span>

                    <%
                    //exclude the current user
                    if(self.req.user.id === users[index].id){
                        continue;
                    } %>
                        <li id="btn-chat-<%=users[index].id%>" data-id="<%=users[index].id%>" data-shortname="<%=users[index].shortName()%>" data-fullname="<%=users[index].fullname()%>" data-new="0" onclick="userPressed(this); return false;">
                            <%=users[index].shortName()%>
                        </li>
                        <% } //endfor %>
            </ul>
        </div>
    </div>
    <div class="chat-wrapper">
        <div class="topbar">
            <div class="title" id="chatTitle">
                Chat
            </div>
            <div class="close" onclick="chatClose();">
                X
            </div>
        </div>
        <div class="chat">
            <div class="messages-wrapper">
                <div class="scroll-wrapper" id="messages" data-action="<%-self.urlFor('api/messages', 'index')%>"></div>
            </div>
            <div class="input-wrapper">
                <textarea id="message" placeholder="Schreiben Sie irgendwas...."></textarea>
                <button id="send-message" onclick="sendPressed(this); return false;"><img
                        src="../../assets/images/paper-plane.svg"></button>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="kanban-wrapper">
            <div class="row">
                <%for (let index = 0; index < workflows.length; index++) { %>
                    <% const workflow = workflows[index]; %>
                        <div class="col">
                            <div class="title" style="background: <%-workflow.color%>;border-left-color: <%-workflow.color%>;">
                                <span class="workflow"><%=workflow.name%></span> <span id="addIcon" onclick="addTask(this,'<%-workflow.id%>'); return false;" class="add">+</span>
                            </div>
                        </div>
                        <%} //ENDFOR %>
            </div>

            <!-- <div class="row">
                <% for (let index = 0; index < workflows.length; index++) { %>
                    <% const workflow = workflows[index]; %>    
                    <%} //ENDFOR %>
            </div>-->

            <div class="row tasks-wrapper">
                <% for (let index = 0; index < workflows.length; index++) { %>
                    <% const workflow = workflows[index]; %>
                        <div class="col">
                            <div class="tasks" data-workflow-id="<%-workflow.id%>" data-workflow-color="<%-workflow.color%>">
                                <% if(workflowTasks[workflow.id] instanceof Array) { %>
                                    <% for (let i = 0; i < workflowTasks[workflow.id].length; i++) { %>
                                        <% const task = workflowTasks[workflow.id][i]; %>
                                            <div class="task" style="border-color: <%-workflow.color%>;" data-id="<%-task.id%>">

                                                <div class="name" id="taskName" data-id="<%-task.id%>">
                                                    #
                                                    <%-task.id%>
                                                        <%=task.name%>
                                                </div>
                                                <div class=" time ">
                                                    <!--This will only be shown in the task editor-->
                                                </div>

                                                <div class="footer ">Ì
                                                    <div class="assigned ">
                                                        <%=task.assignedTo.fullname()%>
                                                    </div>
                                                    <div class="deadline ">
                                                        <%-task.deadline.getDay()%>.
                                                            <%-task.deadline.getMonth() + 1%>.
                                                                <%-task.deadline.getFullYear()%>
                                                                    <%-task.deadline.getHours()%>:
                                                                        <%-task.deadline.getMinutes()%>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } //ENDFOR %>
                                                <% } //ENDIF %>
                            </div>
                        </div>
                        <%} //ENDFOR %>
            </div>
        </div>
    </div>
</div>


<div class="taskForm" id="slide-in-popover">

    <div class="createTask ">Edit Task</div>
    <div class="taskClose" id="taskCloseId" onclick="taskClose();">
        X
    </div>

    <div class="task-editing">

        <div class="inputColumn nameTask"></div>

        <div class="inputColumn Created-by"></div>

        <div class="inputColumn assigned-to"></div>

        <div class="inputColumn maxTime"></div>

        <div class="inputColumn deadline"></div>

        <div class="inputColumn textTask">
            <!--<textarea class="textTask" name="text" cols="30" rows="10" placeholder="What To do">
            </textarea>-->
        </div>
        <button class="addTaskButton">Edit Task</button>
    </div>
    <!--</form>-->

</div>

<!--ToDo: data-open in less Datai

<div class="taskForm" data-open="0" id="slide-in-popover">
    <div class="background">

    </div>
     <div class="createTask ">Edit Task</div>

    <div class="content-wrapper">
        <div class="top-bar" data-tpl="#{{id}} Task Details">#{{id}} Task Details</div>
        <div class="content">
            <div class="task-title">
                {{title}}
            </div>
            <div class="task-infos">
                <div class="grid">
                    <div class="row">
                        <div class="clo-4">
                            <div class="label">Created by</div>
                            <div class="text created-by">{{label-text}}</div>
                        </div>
                        <div class="clo-4">
                            <div class="label">Assigned To</div>
                            <div class="text assigned-to">{{label-text}}</div>
                        </div>
                        <div class="clo-4">
                            <div class="label">Workflow Status</div>
                            <div class="text workflow-status">{{label-text}}</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="description">
                {{html}}
            </div>
        </div>
        <div class="bottom-bar">
            <button>Edit Task</button>
        </div>

    </div>

</div>-->




<!--
<div class="taskForm" id="slide-in-popover">

    <div class="createTask ">Add Task</div>
    <div class="taskClose" id="taskCloseId" onclick="taskClose();">
        X
    </div>

    <div id="form">

        <div class="inputColumn"><input type="text" id="nameTask" name="{{title}}" value="Test"></div>

        <div class="inputColumn">
            <select class="select" id="assignedToId" name="assignedToId" required>
                <option value="" select:invalid>{{label-text}}</option>

                <% for(let index = 0; index < users.length; ++index) { %>
                <option value="<%=users[index].id%>"><%=users[index].fullname()%></option>
                <% } //endfor %>
            </select>
        </div>

        <input type="hidden" id="currentUserId" value="<%-self.req.user.id%>">

        <div class="inputColumn"><input type="number" id="maxTime" placeholder="Maximum Work Time"></div>

        <div class="inputColumn">
            <textarea id="textTask" name="text" cols="30" rows="10" value="{{html}}">
            </textarea>
        </div>
        <button class="Edit TASK" onclick="addPressed(this,this.parentNode); return false;">Add Task</button>
    </div>

</div>-->